---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% if site.paginate %}
    {% assign events = paginator.events %}
  {% else %}
    {% assign events = site.events %}
  {% endif %}

  <div class="two-column-grid">
    <div>
      {{ content }}
    </div>
    <div>
      {%- if events.size > 0 -%}
        <div class="events-grid">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {% assign sorted_events = events | sort: 'date' | reverse %}

          {%- for event in sorted_events -%}
          <article class="event-card">
            <span class="event-date">{{ event.date | date: date_format }}</span>
            {%- if event.location -%}
              <span class="event-location">{{ event.location }}</span>
            {%- endif -%}
            <h3 class="event-title">
              <a href="{{ event.url | relative_url }}">{{ event.title | escape }}</a>
            </h3>
            <p class="event-excerpt">{{ event.content | markdownify | strip_html | truncatewords: 50 }}</p>
          </article>
          {%- endfor -%}
        </div>

        {% if site.paginate %}
          <div class="pager">
            <ul class="pagination">
            {%- if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">&#8226;</div></li>
            {%- endif %}
              <li><div class="current-page">{{ paginator.page }}</div></li>
            {%- if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">&#8226;</div></li>
            {%- endif %}
            </ul>
          </div>
        {%- endif %}
      {%- endif -%}
    </div>
  </div>
</div>
