---
layout: base
---

<style type="text/css">
    .home-content {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="home-content">
    <!-- Posts Section -->
    <div>
      <h2>Latest Posts</h2>
      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}

      {%- if posts.size > 0 -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

    <!-- Events Section -->
    <div>
      <h2>Upcoming Events</h2>
      {% if site.paginate %}
        {% assign events = paginator.events %}
      {% else %}
        {% assign events = site.events %}
      {% endif %}

      {%- if events.size > 0 -%}
        <ul class="post-list">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {% assign sorted_events = events | sort: 'date' %}
          {%- for event in sorted_events -%}
          <li>
            <span class="post-meta">
              {{ event.date | date: date_format }}
              {%- if event.location -%}
                &nbsp;- {{ event.location }}
              {%- endif -%}
            </span>
            <h3>
              <a class="post-link" href="{{ event.url | relative_url }}">
                {{ event.title | escape }}
              </a>
            </h3>
            {{ event.content | markdownify | strip_html | truncatewords: 50 }}
          </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</div>
